.title-block{
	display: flex;
	align-items: center;
	margin-bottom: 55px;
}
.title-block label{
	margin: 0;
	margin-right: 10px;
	white-space: nowrap;

}
.title-block .blockName{
	width: 100%;
	margin: 0;
}
ol.block_name{
	padding: 10px 50px;
}

.block_name .question_name{
	margin: 0;
	padding: 25px 50px;
	position: relative;
}
.block_name .question_name:before{
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 1px;
	background: #a7a7a7;

}
.block_name .question_name:last-child:before{
	display: none;
}
ul.block_name{
	padding-right: 0;
}
ul.block_name .answerDiv{
	width: 100%;
}

.answer {
    padding-left: 40px;
}
.questionContent{
	width: 100%;
}
.answer .multiblock {
    width: 100%;
}
textarea {
    resize: none;
}
.title-question{
	font-size: 16px;
}
.answer-content{
	position: relative;
}
.answer-content input{
	transform: scale(3);
    opacity: 0.9;
    position: absolute;
    left: -28px;
    top: 50%;
    margin-top: -5px;
   
}