#edit-block {
  -webkit-box-shadow: 0 0 24px rgba(0, 0, 0, 0.14);
          box-shadow: 0 0 24px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  padding: 25px 50px;
  font-family: Arial;
}

#edit-block label {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 16px;
}

#edit-block button[type="submit"] {
  margin-top: 25px;
}

#edit-block #blockControl {
  margin: 0;
}

#edit-block #blockControl .flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#edit-block #blockControl .flex-row button {
  margin-left: 8px;
}

#edit-block #blockControl .line-dashed {
  padding-top: 30px;
  border-bottom: 1px dashed #000;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #7f7f7f;
  border-radius: 3.5px;
  border: 0.3px solid #010101;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
          box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #dddddd;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #dddddd;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.8px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #a0a0a0;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #7f7f7f;
  border-radius: 3.5px;
  border: 0.3px solid #010101;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #dddddd;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #dddddd;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #5e5e5e;
  border: 0.3px solid #010101;
  border-radius: 7px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
  background: #7f7f7f;
  border: 0.3px solid #010101;
  border-radius: 7px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #dddddd;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  background: #dddddd;
  cursor: pointer;
  height: 5px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #7f7f7f;
}

input[type=range]:focus::-ms-fill-upper {
  background: #a0a0a0;
}

.popupImageConvertor {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: auto;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.popupImageConvertor .popup-container {
  position: relative;
  overflow: hidden;
  background: #fff;
  min-width: 80%;
  min-height: 600px;
  padding: 20px 70px 70px 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupImageConvertor .popup-container h3.resize-title {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  color: #6b678a;
  margin-bottom: 20px;
}

.popupImageConvertor .popup-container .cr-boundary {
  max-height: 60vh;
  max-width: 80vw;
}

.popupImageConvertor .popup-container .resizer {
  position: relative;
  border: 2px solid #7F7F7F;
  min-height: 500px;
  width: 100%;
  background: #DDDDDD;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popupImageConvertor .popup-container .resizer .addition {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -10px;
  color: #7F7F7F;
  font-size: 16px;
}

.popupImageConvertor .popup-container .resizer-result {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.popupImageConvertor .closePopup {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: 22px;
  background: #fff;
  color: #000;
  outline: none;
  border: none;
  line-height: 1;
  opacity: 0.8;
}

