#pdf_set {
    background-color: white;
    z-index: 50;
}
#showPdf, #confirmContainer {
    display: none;
}

.blurContainer {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background: rgba(143, 152, 156, 0.7);
}
#listBlankPopup {
    position: fixed;
    left: 50%;
    top: 40%;
    padding: 1%;
    transform: translateX(-50%) translateY(-50%);
}
.scroll-class {
    overflow-y: auto;
    height: 85%;
    margin-top: 5%;
}
#nmbToDownloadBlank {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;
    left: 45vw;
    top: 35vh;
    border-radius: 3%;
}
#nmbToDownloadBlank .nmbBlanksForm {
    display: grid;
    justify-content: center;
}
#nmbToDownloadBlank .nmbBlanksForm button {
    margin-top: 15%;
}
.popup {
    position:absolute;
    z-index: 100;
    background: white;
    border: 1px solid black;
}

.listBlanks th{
    background-color: white!important;
}
.listBlanks th{
    border: none!important;
}
.listBlanks td {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
}
.blacked {
    background-color: #ffffff;
}
#view_task {
    border: none;
}
.mid {
    padding-top: 40px;
    text-align: center;
}

.pdfPopUp {
    position:fixed;
    width:30em;
    /*height: 20em;*/
    padding: 0 0 1em 0;
    margin-top: -9em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.pdfmenu {
    cursor: move;
    left:auto;
    margin: 0;
    border-width:5px 5px 0;
    border-radius: 5px;
    position:relative;
    height: 30px;
    padding: 5px 10px;
    top:-1px;
    background-color: #ADD1E6 ;

}
#x {
    width: 10px;
    cursor: default;
    position: relative;
    float: right;
    background:  #ADD1E6;
    color: white;
}
.sel_block{
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;

    margin-bottom: 10px;
}
.hideSelect{
    display:none;
}
.repTable{
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
    font-size:11pt;
    padding:10px 5px;
    margin:5px 0;
    text-align:center;
    vertical-align:top;
}
#verifyTable, #variant-blank-table, #repTable, .button-add-user {
    width: 80%;
    margin-left: 10%;
}
th, td{
    border: solid 1px black;
    text-align:center;
    padding:5px;
    color: black;
}
th{
    background-color:#4eafe1;
    color: white;
}
.verifyTableBlock {
    margin-top:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 1px 29px -8px rgba(158,158,158,1);
-moz-box-shadow: 0px 1px 29px -8px rgba(158,158,158,1);
box-shadow: 0px 1px 29px -8px rgba(158,158,158,1);
}
.table-buttn {
    width:100%;
}
.lastTh {
    background: none;
    border: none;
}
.tableButtons{
    border:none;
    width:50px;
}
.confirmPopup {
    width:30em;
    height: 20em;
    padding: 0;
    margin-top: -9em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.chooseContainer {
    display: flex;
    justify-content: space-around;
}
.chooseContainer .btn-group {
    width: 40%;
}
.chooseContainer .btn-group .btn{
    width: 100%;
    border-radius: 4px;
}
.confirmMenu {
    left:auto;
    margin: 0;
    border-width:5px 5px 0;
    border-radius: 5px;
    position:relative;
    height: 30px;
    padding: 5px 10px;
    top:-1px;
    background-color: #ADD1E6 ;

}
.field-icon {
    float: right;
    margin-top: -38px;
    position: relative;
    font-size: 20px;
    z-index: 2;
}
.lastTd{
    border:none;
    width:20%;
}


input[type='number'] {
    -moz-appearance:textfield;
}

/*input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}*/ /* delete validation for width img*/
.decline {
    display: none;
    position:fixed;
    width:30em;
    height: 27em;
    padding: 0;
    padding-top:1px;
    margin-top: -9em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 10px;
    z-index:2;
}
.text_area{
    width:95%;
    height: 200px;
}
.text-mid{
    margin-top:25px;
    width:100%;
    text-align:center;
}
.block_name{
    font-family: 'Times New Roman';
    color: black;
    font-weight: bold;
    font-size: 14pt;
    padding-left: 30px;
    padding-right: 30px;
}
.question_name{
    margin:20px 0 0 50px ;
    font-weight: normal;
    font-size: 12pt;
    list-style-type: none;
}
.righty{
    margin-top: -5px;
    text-align: right;
}
.answer{
    margin-left: 20px;
    font-weight: normal;
    font-size: 12pt;
    list-style-type: none;
}
.answerDiv{
    display: inline-block;
    width:82%;
}
.imgDiv{
    float:right;
    display: inline-block;
    width:45%;
}
.Img{
    max-height:300px;
    max-width: 300px;
}

.line {
    margin:0 0 0 0px;
    border-color:#a7a7a7;
    border-width: 1px;
}

.line:last-child {
    display: none;
}

.middle{
    text-align: center;
}
#exit {
    width: 10px;
    cursor: default;
    position: relative;
    float: right;
    background:  #ADD1E6;
    color: white;
}
.text_area_edit{

    max-width: 100%;
    max-height: 70%;
    min-height: 100px;
    min-width:100%;
}

.menu{
    left:auto;
    margin: 0;
    border-width:5px 5px 0;
    border-radius: 5px;
    position:relative;
    height: 30px;
    padding: 5px 10px;
    top:-1px;
    background-color: #ADD1E6;

}

.validate-alert {
    border: 1px solid #FF4141;
    border-radius: 5px;
    background-color: #FFE6E6;
    color:#FF4141;
    padding: 3px;
    margin-top:2px;
}

.access-validate {
    border: 1px solid green !important;
}

.not-validate {
    border: 1px solid red !important;
}

.shadow-block{
    -webkit-box-shadow: 0px 1px 29px -8px rgba(158,158,158,1);
    -moz-box-shadow: 0px 1px 29px -8px rgba(158,158,158,1);
    box-shadow: 0px 1px 29px -8px rgba(158,158,158,1);
    border-radius: 10px;
    padding: 2%;
    margin-top: 2%;
}
#depTable tr td:last-child{
    background-color: #89CA9E;
}

.omu_add1{
    cursor: pointer;
}

#depTable tr td:last-child:hover{
    background-color: #00a65a;
    color: white;
}

.blockName{
    display: inline;
    width: 80%;
    font-weight: normal;
}

.questionName {
    width:70%;
}

.ansText {
    width: 100%;
}

.editBlockOmu *{
    font-family: Arial, Helvetica, sans-serif;
}

.editBlockOmu:first-child {
    margin-top:0;
}

.control-buttons-block {
    padding: 15px 15px 0 15px;
}

.control-buttons-block:last-child {
    padding: 0 15px 15px 15px;
}

.padding-block{
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 5%;
}

.return-block{
    display: flex;
    justify-content: center;
}

.save-btn{
    margin-top: 2%;
    margin-bottom: 1%;
    background-color: #ACD56E;
    color: white;
}

.return-btn{
    background-color: #AECFF3;
    color: white;
    width: 35%;
}

.save-btn:hover{
    background-color: #00a157;
    color: black;
}

.return-btn:hover{
    background-color: #00a7d0;
    color: black;
}

.w-95{
    width: 95%;
}

.omu-block{
    padding-top: 1%;
    padding-left: 3%;
    font-weight: bold;
}

.padding-body{
    padding-left: 5%;
    padding-right: 5%;
}
.clearBtn{
    color:white;
    background-color: #ffb15e;
    width: 65%;
    height: auto;
    white-space: pre-wrap;

}
.outer {
    float:right;
    position: relative;
    margin: auto;
    width: 50px;
    cursor: pointer;
}

.inner {
    width: inherit;
    text-align: center;
}

.outer label {
    font-size: .8em;
    line-height: 4em;
    text-transform: uppercase;
    color: red;
    transition: all .3s ease-in;
    opacity: 0;
    cursor: pointer;
}

.inner:before, .inner:after {
    position: absolute;
    content: '';
    height: 1px;
    width: inherit;
    background: red;
    left: 0;
    transition: all .3s ease-in;
}

.inner:before {
    top: 50%;
    transform: rotate(45deg);
}

.inner:after {
    bottom: 50%;
    transform: rotate(-45deg);
}

.outer:hover label {
    opacity: 1;
}

.outer:hover .inner:before,
.outer:hover .inner:after {
    transform: rotate(0);
}

.outer:hover .inner:before {
    top: 0;
}

.outer:hover .inner:after {
    bottom: 0;
}

.question-answer-block-ua {
    width: 100%;
}
.not-white{
    color: #010101;
}

.input-non-valid {
    border-color: red;
}