#main-container {
    width:100%;
    min-height: calc(100vh - 52px);
    background-repeat: no-repeat;
    background-image:url(/storage/background.jpeg);
    background-size: cover;
    padding-top: 20px;
    background-attachment: fixed;
}
.tabs {
    width: 100%;
    padding: 0;
    margin: 0 auto;
}
.tabs>input {
    display:none;
}
.tabs>div { display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
}
.tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
}
.tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
}

#tab_1:checked ~ #txt_1, #tab_2:checked ~ #txt_2, #tab_3:checked ~ #txt_3 {
    display: block;
}

.bookshelf_wrapper {
    position:fixed;
    width: 70%;
    height: 60%;
    top: 80%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.books_list {
    margin: 0 auto;
    width: 300px;
    padding: 0;
}

.book_item {
    position: absolute;
    top: -120px;
    box-sizing: border-box;
    list-style: none;
    width: 40px;
    height: 120px;
    opacity: 0;
    background-color: #1e6cc7;
    border: 5px solid white;
    -webkit-transform-origin: bottom left;
    transform-origin: bottom left;
    -webkit-transform: translateX(300px);
    transform: translateX(300px);
    -webkit-animation: travel 2500ms linear infinite;
    animation: travel 2500ms linear infinite;
}
.book_item.first {
    top: -140px;
    height: 140px;
}
.book_item.first:before, .book_item.first:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: white;
}
.book_item.first:after {
    top: initial;
    bottom: 10px;
}
.book_item.second:before, .book_item.second:after, .book_item.fifth:before, .book_item.fifth:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 17.5px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
.book_item.second:after, .book_item.fifth:after {
    top: initial;
    bottom: 10px;
}
.book_item.third:before, .book_item.third:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 10px;
    left: 9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 5px solid white;
}
.book_item.third:after {
    top: initial;
    bottom: 10px;
}
.book_item.fourth {
    top: -130px;
    height: 130px;
}
.book_item.fourth:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    top: 46px;
    left: 0;
    width: 100%;
    height: 17.5px;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
.book_item.fifth {
    top: -100px;
    height: 100px;
}
.book_item.sixth {
    top: -140px;
    height: 140px;
}
.book_item.sixth:before {
    box-sizing: border-box;
    content: '';
    position: absolute;
    bottom: 31px;
    left: 0px;
    width: 100%;
    height: 5px;
    background-color: white;
}
.book_item.sixth:after {
    box-sizing: border-box;
    content: '';
    position: absolute;
    bottom: 10px;
    left: 9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 5px solid white;
}
.book_item:nth-child(2) {
    -webkit-animation-delay: 416.6666666667ms;
    animation-delay: 416.6666666667ms;
}
.book_item:nth-child(3) {
    -webkit-animation-delay: 833.3333333333ms;
    animation-delay: 833.3333333333ms;
}
.book_item:nth-child(4) {
    -webkit-animation-delay: 1250ms;
    animation-delay: 1250ms;
}
.book_item:nth-child(5) {
    -webkit-animation-delay: 1666.6666666667ms;
    animation-delay: 1666.6666666667ms;
}
.book_item:nth-child(6) {
    -webkit-animation-delay: 2083.3333333333ms;
    animation-delay: 2083.3333333333ms;
}

.shelf {
    width: 300px;
    height: 5px;
    margin: 0 auto;
    background-color: white;
    position: relative;
}
.shelf:before, .shelf:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e6cc7;
    background-image: radial-gradient(rgba(255, 255, 255, 0.5) 30%, transparent 0);
    background-size: 10px 10px;
    background-position: 0 -2.5px;
    top: 200%;
    left: 5%;
    -webkit-animation: move 250ms linear infinite;
    animation: move 250ms linear infinite;
}
.shelf:after {
    top: 400%;
    left: 7.5%;
}

@-webkit-keyframes move {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 10px;
    }
}

@keyframes move {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 10px;
    }
}
@-webkit-keyframes travel {
    0% {
        opacity: 0;
        -webkit-transform: translateX(300px) rotateZ(0deg) scaleY(1);
        transform: translateX(300px) rotateZ(0deg) scaleY(1);
    }
    6.5% {
        -webkit-transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
        transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
    }
    8.8% {
        -webkit-transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
        transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateX(270px) rotateZ(0deg);
        transform: translateX(270px) rotateZ(0deg);
    }
    17.6% {
        -webkit-transform: translateX(247.2px) rotateZ(-30deg);
        transform: translateX(247.2px) rotateZ(-30deg);
    }
    45% {
        -webkit-transform: translateX(165px) rotateZ(-30deg);
        transform: translateX(165px) rotateZ(-30deg);
    }
    49.5% {
        -webkit-transform: translateX(151.5px) rotateZ(-45deg);
        transform: translateX(151.5px) rotateZ(-45deg);
    }
    61.5% {
        -webkit-transform: translateX(115.5px) rotateZ(-45deg);
        transform: translateX(115.5px) rotateZ(-45deg);
    }
    67% {
        -webkit-transform: translateX(99px) rotateZ(-60deg);
        transform: translateX(99px) rotateZ(-60deg);
    }
    76% {
        -webkit-transform: translateX(72px) rotateZ(-60deg);
        transform: translateX(72px) rotateZ(-60deg);
    }
    83.5% {
        opacity: 1;
        -webkit-transform: translateX(49.5px) rotateZ(-90deg);
        transform: translateX(49.5px) rotateZ(-90deg);
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(0px) rotateZ(-90deg);
        transform: translateX(0px) rotateZ(-90deg);
    }
}
@keyframes travel {
    0% {
        opacity: 0;
        -webkit-transform: translateX(300px) rotateZ(0deg) scaleY(1);
        transform: translateX(300px) rotateZ(0deg) scaleY(1);
    }
    6.5% {
        -webkit-transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
        transform: translateX(279.5px) rotateZ(0deg) scaleY(1.1);
    }
    8.8% {
        -webkit-transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
        transform: translateX(273.6px) rotateZ(0deg) scaleY(1);
    }
    10% {
        opacity: 1;
        -webkit-transform: translateX(270px) rotateZ(0deg);
        transform: translateX(270px) rotateZ(0deg);
    }
    17.6% {
        -webkit-transform: translateX(247.2px) rotateZ(-30deg);
        transform: translateX(247.2px) rotateZ(-30deg);
    }
    45% {
        -webkit-transform: translateX(165px) rotateZ(-30deg);
        transform: translateX(165px) rotateZ(-30deg);
    }
    49.5% {
        -webkit-transform: translateX(151.5px) rotateZ(-45deg);
        transform: translateX(151.5px) rotateZ(-45deg);
    }
    61.5% {
        -webkit-transform: translateX(115.5px) rotateZ(-45deg);
        transform: translateX(115.5px) rotateZ(-45deg);
    }
    67% {
        -webkit-transform: translateX(99px) rotateZ(-60deg);
        transform: translateX(99px) rotateZ(-60deg);
    }
    76% {
        -webkit-transform: translateX(72px) rotateZ(-60deg);
        transform: translateX(72px) rotateZ(-60deg);
    }
    83.5% {
        opacity: 1;
        -webkit-transform: translateX(49.5px) rotateZ(-90deg);
        transform: translateX(49.5px) rotateZ(-90deg);
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(0px) rotateZ(-90deg);
        transform: translateX(0px) rotateZ(-90deg);
    }
}

.hideBehind{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 1;
    opacity:0.5;
}

.footer-main{
    height: 8%;
    background-color: #505050;
    color: white;
}

.footer-diagonal{
    background: linear-gradient(to right bottom, #505050 50%, #4EB0E1 50%);
    width: 1.5%;
}

.flex{
    width: 100%;
    display: flex;
}

.flex-right{
    justify-content: right;
}

.flex-space{
    justify-content: space-around;
}

.footer-main .flex div{
    font-size: 14pt;
    padding: 5px 0;
    font-style: italic;
}

.footer-main .flex div span{
    font-style: normal;
}

.footer-main .flex div:first-child{
    padding-right: 1.5%;
    width: 53.5%;
    text-align: right;
}

.footer-main .flex div:last-child{
    width: 45%;
    background-color: #4EB0E1;
}

.header-logo{
    width: 10%;
    height: inherit;
    background: url("/img/logo.png") no-repeat center;
    background-size: contain;
}

.header-top{
    background-color: #ECF2F8;
    color: #415A7F !important;
    text-align: center;
    font-size: 19pt;
    padding-bottom: 0.5%;
    padding-top: 0.5%;
}

.header-bottom{
    background-color: #ADCEF3;
}

.header-bottom div ul{
    padding-right: 8%;
}

.header-bottom div ul li{
    font-size: 13pt;
    font-weight: bold;
    color: #4579B4 !important;
}

.header-width{
    width: 35%;
}

.header-width h1{
    margin-top: -0.5%;
}

.header-width div {
    margin-bottom: -1.5%;
}

.login-block{
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 22px;
    background-color: #fff;
    border: 1px solid transparent;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.05);
    font-family: Arial;
}


.heading-login-block{
    border-radius: 10px 10px 0 0 !important;
    font-size: 20px;
    font-weight: bold;
}

.enter-button{
    display: flex;
    justify-content: center;
}
.login-button{
    width: 120px;
    background-color: #8eb4cb;
    color: white;
}

label.login-labels{
    font-weight: unset;
    font-size: 17px;
    font-color: black;
}
.account-panel{
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 22px;
    border: 1px solid transparent;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    font-family: Arial;
    color: #010101;
    background-color: #f8f8f8;
}
.account-heading{
    border-radius: 10px 10px 0 0 ;
    color: #333333;
    background-color: #f8f8f8;
    border-color: #d3e0e9;
    padding: 10px 15px;
    border-bottom: 1px solid #e1e1e1;
    font-size: 20px;
    font-weight: bold;
}
#profile{
    background-color: #ffffff;
    border-radius: 10px 10px 10px 10px;
    margin: 5px 5px;
}
.user-info-table{
    background-color: #ffffff;
    padding: 5px;
    border-radius: 10px;
    margin-top: 25px;
}
#blur-screen {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #4a4545;
    opacity: 0.6;
}

#pdf-frame {
    position: fixed;
    top: 10vh;
    left: calc(50vw - 250px);
    width: 500px;
    height: 80vh;
}
.imageWidthContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}
.imageWidthContainer .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.imageWidthContainer .customWidthInput {
    width: 15%;
    height: 30px;
    margin-bottom: 5px;
}
#all {
    opacity:0;
}
#all {
    opacity: 0;
}
.answerEng{
    display: inline-block;
    width:20%;
    margin-left: 20px;
    font-weight: normal;
    font-size: 12pt;
    list-style-type: none;
}
.englishAnsStep{
    margin-left:20px;
}
.answerEngNumb{
    float:left;
    display: inline-block;
    width:2%;
    font-weight: normal;
    font-size: 12pt;
    list-style-type: none;
}
.taskTable{
    width:70%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
.taskTable td{
    font-weight:normal;
    height: 5%;
    width:25%;
}
.taskTable th{
    background-color: white;
    color:black;
}
.engQuestionsDiv{
    font-weight: bold;
    font-size: 12pt;
}

