.file-upload {
    position: relative; /* Даем возможность делать позиционирование, внутри данного элемента */
    overflow: hidden; /* Все что выходит за пределы - скрываем */
    width: 40px;
    height: 28px;
    margin-right: 3px;
    margin-left: 3px;

}

.file-upload input[type="file"]{
    display: none; /* Обязательно скрываем настоящий Input File */
}
.file-upload label {
    cursor: pointer;
}
.file-upload span {
    line-height: 13px;
}
.filename {
    margin-top: 3px;
    border: 0;
    height: auto;
    background-color: #FFFFFF;
}
.category-add {
    display: inline-block;
}

.color-change {
    background-color: #08db97;
    color: #FFFFFF;
}
radio {
    padding-bottom: 3px;
}