.loaders {
    overflow: hidden;
    margin: 0px;
    display: flex;
    flex-direction: row;
}

.loader {
    min-width: 20px;
    display: inline-block;
    margin-left: 20px;
}

/* circle loaders */

.circle-loader-1 {
    color: #8eb4cb;
    width: 20px;
    min-width: 20px;
    height: 20px;
    min-height: 20px;
    display: flex;
    border-radius: 50%;
    border-top: 3px solid rgba(255, 255, 255, 0.2);
    border-right:3px solid rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid rgba(255, 255, 255, 0.2);
    border-left: 3px solid #8eb4cb;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: circle-loader-spin 1s infinite linear;
    animation: circle-loader-spin 1s infinite linear;
}
@keyframes circle-loader-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
