#txt_1, #txt_2, #txt_3 {
    border-color: #d3e0e9;
}
#view_task{
    border: none;
}

#view_task .panel-heading {
    padding: 0;
}

.items {
    margin-left: 3%;
}
.lr_margin{
    margin-left: 3px;
    margin-right: 1px;
}

.r_margin{
    margin-right: 4px;
}
#categories .category-block {
    padding: 10px 0;
    border-bottom: 1px dotted gray;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 20px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 100%;
}
.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.blue    {
    background-color: #8eb4cb;
    color: white;
}

.blacked{
    color: black;
}

.sel_block{
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;

    margin-bottom: 10px;
}

.buttom_css{
    margin-top: 10px;
    margin-bottom: 10px;
}

.select_margin_buttom{
    margin-bottom: 10px;
}



.copyRight{
    font-style: italic;
    color: #aeaeae;
}

.hidden_block_msg{
    display: none;
    margin-top: 20px;
}

.hidden_block_img{
    display: none;
}

.update_select_block{
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
}

.left4{
    margin-left: 4px;
}


.id_for_answer_css .btn {
    color: #8eb4cb;
    background-color: white;
    text-align: right;
    padding: 0px 42px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: bold;
}

.id_for_answer_css .btn_a {
    color: #8eb4cb;
    background-color: white;
    text-align: right;
    padding: 1px 0px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.id_for_answer_css .btn_a1 {
    color: #8eb4cb;
    background-color: white;
    text-align: right;
    padding: 0px 0px 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.media-list .media-heading small {
    line-height: 1.2;
}

#questions_edit_block_elements {
    margin-top: 10px;
}
#questions_edit_block_elements p {
    margin: 10px 0;

}
#categories .category-block {
    padding: 10px 0;
    border-bottom: 1px dotted gray;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px; /* If you add too much padding here, the options won't show in IE */
    width: 100%;
}
.semi-square {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.blue    {
    background-color: #8eb4cb;
    color: white;
}

.blacked {
    color: black;
}

.sel_block {
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;

    margin-bottom: 10px;
}

.add_block_css {
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttom_css{
    margin-top: 10px;
}

.select_margin_buttom {
    margin-bottom: 10px;
}

.count_question{
    margin-top: 11px;
    margin-left: 2px;
    font-style: italic;
}

.style_gias{
    font-style: italic;
    color: #aeaeae;
}

.hidden_block_msg{
    display: none;
    margin-top: 20px;
}

.hidden_block_img{
    display: none;
}

.update_select_block{
    width: 100%;
    height: 36px;
    padding: 6px 12px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccd0d2;
    border-radius: 4px;
}

.left4{
    margin-left: 4px;
}

.pdfPopUp {
    display: none;
    position:fixed;
    width:30em;
    height: 20em;
    padding: 0;
    margin-top: -9em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.pdfmenu {
    cursor: move;
    left:auto;
    margin: 0;
    border-width:5px 5px 0;
    border-radius: 5px;
    position:relative;
    height: 30px;
    padding: 5px 10px;
    top:-1px;
    background-color: #ADD1E6 ;

}
.pdfBtn {
    top: 50%;
}
.mid {
    padding-top: 40px;
    text-align: center;
}
.inp {
    border-radius: 5px;
}
#x {
    width: 10px;
    cursor: default;
    position: relative;
    float: right;
    background:  #ADD1E6;
    color: white;
}

.btn-menu {
    background-color: #00c0ef;
}
.custom {
    margin-top:-20px;
}

.repTable{
    width: 100%;
    border-collapse: collapse;
    font-size:14px;
    padding:10px 5px;
    margin:5px 0;
    text-align:center;
    vertical-align:top;
}
th, td{
    border: solid 1px black;
    text-align:center;
    padding:5px;
}
th{
    background-color:#8eb4cb;
    color: white;
}
.tableButtons{
    border:none;
    width:50px;
}
.hideSelect{
    display:none;
}
.tableDiv{
    width:40%;
}
.confirmPopup {
    display: none;
    position:fixed;
    width:30em;
    height: 20em;
    padding: 0;
    margin-top: -9em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 10px;
}
.confirmMenu{
    left:auto;
    margin: 0;
    border-width:5px 5px 0;
    border-radius: 5px;
    position:relative;
    height: 30px;
    padding: 5px 10px;
    top:-1px;
    background-color: #ADD1E6 ;

}
.depTable{
    width: 100%;
    border-collapse: collapse;
    font-size:14px;
    padding:10px 5px;
    margin:5px 0;
    text-align:center;
    vertical-align:top;
}
.boxTable{
    float: left;
    display: inline-block;
    width:30%;
}
.no-border{
    border: none;
}


.btn-custom {
    background-color: #2ea8e5;
}
#edit-block .form-inline, #create-block-form {
    margin: 20px 0;
}

#limit-questions {
    margin-top: 10%;
}


/* BLANK STYLES*/

#blank {
    list-style: none;
    font-family: Arial, sans-serif;
}
#blank h2 {
    font-size: 25px;
}
#blank .no-content {
    font-size: 15px;
    padding-left: 10%;
    color: gray;
}
#blank .questions:not(.answers)>li{
    font-size: 16px;
    padding-left: 5px;
}
#blank .answers {
    list-style-type: lower-alpha;
}
#blank .image-container {
    display: flex;
    justify-content: center;
}
#blank .image-container .responsiveImg {
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
}
/* END BLANK*/


.text_area {
    width:95%;
    height: 200px;
}
.text-mid{
    margin-top:25px;
    width:100%;
    text-align:center;
}
.decline{
    display: none;
    position:fixed;
    width:30em;
    height: 27em;
    padding: 0;
    padding-top:1px;
    margin-top: -9em;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
    border-radius: 10px;
    z-index:2;
}
.block_name{
    padding-left:0;
    font-family: 'Times New Roman';
    color: black;
    font-weight: bold;
    font-size: 14pt;
}
.question_name{
    margin:20px 0 0 50px ;
    font-weight: normal;
    font-size: 12pt;
}
.righty{
    margin-top: -5px;
    text-align: right;
}
.answer{
    margin-left: 20px;
    font-weight: normal;
    font-size: 12pt;
}
.answerDiv{
    display: inline-block;
    width:55%;
}
.imgDiv{
    float:right;
    display: inline-block;
    width:45%;
}
.Img{
    max-height:300px;
    max-width: 300px;
}

.line {
    margin:0 0 0 -15px;
    border-color:black;
    border-width: 2px;
}
.middle{
    text-align: center;
}
#exit {
    width: 10px;
    cursor: default;
    position: relative;
    float: right;
    background:  #ADD1E6;
    color: white;
}
.menu{
    left:auto;
    margin: 0;
    border-width:5px 5px 0;
    border-radius: 5px;
    position:relative;
    height: 30px;
    padding: 5px 10px;
    top:-1px;
    background-color: #ADD1E6 ;
}
#declinedReason{
    width:90%;
    height:150px;
}
#declined{
    height:350px;
}
.lastTd{
    width:40%;
}
.field-icon {
    float: right;
    margin-top: -38px;
    position: relative;
    font-size: 20px;
    z-index: 2;
}
.select-margin{
    margin:20px 0;
}
.redText{
    color: red;
}
.main-panel {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.panel-spec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
#id_speciality{
    margin-top: 5px;
    margin-bottom: 6px;
}

.commText{
    padding-left:0;
    font-family: 'Times New Roman';
    color: black;
    font-weight: bold;
    font-size: 14pt;
}

.text_area_lang{
    width: 100% !important;
    max-height: 70%;
    min-height: 100px;

}
.get_lang_edit > option {
    max-width:100px;
    background: #000;
    color: #fff;
}
.text_area{
    max-width: 85%;
    max-height: 70%;
    min-height: 100px;
    min-width:85%;
}

p.item-question-text {
    display: inline-block;
    font-size:14pt;
    margin:1px;
}

#full{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 25%;
    text-align: center;
    background-color: #4FAFE2;
    color: white;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.blue-block {
    margin-top: -1%;
    background-color: #4EB0E1;
    width: 100%;
    font-size: 4pt;
}

#fullCount{
    font-size: 20pt;
}

.sendDiv{
    display: flex;
    justify-content: center;
}

#comm{
    margin-top: 3%;
}

.shadow-block{
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    overflow: hidden;
    font-family: "Times New Roman";
    font-size: 14px;
    padding-right: 2%;
}

.adding-btns {
    display: inline-block;
    width: 100%;
}
.answer-item{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.plus-block{
    font-size: 35px;
    font-weight: bold;
}
.correct-answer{
    transform: scale(3);
    opacity: 0.9;
    position: relative;
    right: 15px;
    top: 5px
}
.deleteAnswer{
    height: 36px;
}
.delete-block{
    margin-left: 5px;
}

.validate-alert {
    margin-top: 3px;
    margin-bottom: 3px; 
    border: 1px solid #FF4141;
    border-radius: 5px;
    background-color: #FFE6E6;
    color:#FF4141;
    padding: 3px !important;
}

.access-validate {
    border: 1px solid green !important;
}

.not-validate {
    border: 1px solid red !important;
}
.lang-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.btn-space{
    margin-top: 5px;
}
.lang-area {
    width: 43%;
}

.questions {
    word-break: break-all;
}
.correction{
    margin-top: 15px;
}
.im_regculation{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.clone-speciality {
    margin-top: 5px;
    display: block;
}
.task-container {
    padding: 2vh 0;
    border-bottom: 3px dashed gray;
}