@page {
    text-align: justify;
    footer: footer;
}
.documentNmb {
    width: 60%;
    float:left;
    text-align: center;
}
.nmbPage {
    width: 40%;
    text-align: right;
}

main h2 {
    text-align: center;
}
table {
    border-collapse: collapse;
}
table td, table th {
    border: 1px solid black;
    text-align: center;
}
.textCenter {
    text-align: center;
}
.upperCase {
    text-transform: uppercase;
}
.subscriptionBlock {
    width: 30%;
    float: right;
    display: inline-block;
}
.subscriptionBlock p {
    margin: 0;
}
.subscriptionBlock p:nth-of-type(2) {
    margin-bottom: 20px;
}
.answerBlank h2 {
    font-size: 18px;
}
.title {
    text-align: center;
}
.title h3 {
    line-height: 20px;
    font-size: 16px;
}
.title p {
    font-weight: bold;
    font-size: 14px;
}
.variant {
    font-weight: bold;
    text-align: left;
}
.taskList {
    text-align: justify;
    padding: 0 10%;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
.listNone {
    list-style-type: none;
}
.questionText {
    text-align: justify;
    margin-top: 15px;
}
.bottomLine {
    border-bottom: 1px solid black;
}
.answersList li {
    list-style-type: lower-alpha;
}
.answersList p {
    margin: 5px 0;
}
.floatAnswer {
    text-align: justify;
    width: 70%;
    float: left;
    margin: 0;
}
.answerImage {
    width: 25%;
}
.image {
    display: block;
    max-width: 150px;
    max-height: 150px;
}
.imageQuestion {
    margin-left: 50%;
}
.fLeft {
    float: left;
}

.checkTable {
    padding: 10px 0 0 10px;
}
.checkTable td, .checkTable th, .exampleFill td, .exampleFill th {
    font-size: 13px;
    width: 25px;
    height: 25px;
}
.inline {
    display:inline-block;
    width: 50%;
    float: left;
}
.sign {
    padding: 25px;
}

.attentionBlock {
    margin-top:30px;
}
.attentionText {
    width: 70%;
}
.exampleFill {
    width: 25%;
}
.exampleFill table {
    margin: 15% 0 0 15%;
}

.right {
    float:right;
    width:50%;
}
.under{
    text-align: left;
    font-size: 9pt;
    margin-top: 2px;
}


.underLinedBlock {
    width: 48%;
    float:left;
    border-bottom: 1px solid black;
}

.resultContainer {
    margin-top: 10px;
}
.resultBlock {
    width: 47%;
    font-weight: bold;
}
.titleBlock {
    float:left;
    margin-right: 1%;
}
.resultBlock .score {
    float:left;
    width: 40%;
    margin-right: 10px;
}
.resultBlock .scoreField {
    width: 60%;
    float: right;
    border-top:1px solid black;
    font-size: 12px; margin-top: 17px;
    text-align: center;
    font-weight: normal;
}
.signBlock {
    width: 100%;
    margin-top: 15px;
}
.position {
    float: left;
    width: 40%;
}
.subscribeContainer {
    width: 15%;
    float:left;
}
.subscribeBlock {
    border-top: 1px solid black;
    text-align: center;
    margin-top: 18px;
}
.initials {
    width: 35%;
    text-align: center;
}
.circle {
    width: 10px;
    height: 10px;
    background: red;
    border: 1px solid black
}
.responsiveImg {
    width: 150px;
    height: 150px;
    background-size:contain;
    margin: 10px 0 10px 35%;
}
.page-inside {
    page-break-inside: avoid;
}
.answerEng{
    text-align: justify;
    float:left;
    display: inline-block;
    width:20%;
    font-weight: normal;
    font-size: 12pt;
    list-style-type: none;
}
.answerEngNumb{
    float:left;
    display: inline-block;
    width:5%;
    font-weight: normal;
    font-size: 12pt;
    list-style-type: none;
}
.englishAnsStep{
    text-align: justify;
    margin-left:20px;
}
.taskTable{
    width:50%;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}
.taskTable td{
    height: 5%;
    width:20%;
}
.taskTable th{
    background-color: white;
    color:black;
}