#edit-block
	box-shadow: 0 0 24px rgba(0,0,0,0.14)
	border-radius: 8px
	padding: 25px 50px
	font-family: Arial
	label
		margin-bottom: 10px
		font-weight: normal
		font-size: 16px
	button[type="submit"]
			margin-top: 25px
	#blockControl
		margin: 0

		
		.flex-row
			display: flex

			button
				margin-left: 8px
		.line-dashed
			padding-top: 30px
			border-bottom: 1px dashed #000