@import 'blockControl.sass'
input[type=range] 
  -webkit-appearance: none
  width: 100%
  margin: 7.5px 0

input[type=range]:focus 
  outline: none

input[type=range]::-webkit-slider-runnable-track 
  width: 100%
  height: 5px
  cursor: pointer
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
  background: #7f7f7f
  border-radius: 3.5px
  border: 0.3px solid #010101

input[type=range]::-webkit-slider-thumb 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
  border: 1px solid #dddddd
  height: 20px
  width: 20px
  border-radius: 10px
  background: #dddddd
  cursor: pointer
  -webkit-appearance: none
  margin-top: -7.8px

input[type=range]:focus::-webkit-slider-runnable-track 
  background: #a0a0a0

input[type=range]::-moz-range-track 
  width: 100%
  height: 5px
  cursor: pointer
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
  background: #7f7f7f
  border-radius: 3.5px
  border: 0.3px solid #010101

input[type=range]::-moz-range-thumb 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
  border: 1px solid #dddddd
  height: 20px
  width: 20px
  border-radius: 10px
  background: #dddddd
  cursor: pointer

input[type=range]::-ms-track 
  width: 100%
  height: 5px
  cursor: pointer
  background: transparent
  border-color: transparent
  color: transparent

input[type=range]::-ms-fill-lower 
  background: #5e5e5e
  border: 0.3px solid #010101
  border-radius: 7px
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d

input[type=range]::-ms-fill-upper 
  background: #7f7f7f
  border: 0.3px solid #010101
  border-radius: 7px
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d

input[type=range]::-ms-thumb 
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d
  border: 1px solid #dddddd
  height: 20px
  width: 20px
  border-radius: 10px
  background: #dddddd
  cursor: pointer
  height: 5px

input[type=range]:focus::-ms-fill-lower 
  background: #7f7f7f

input[type=range]:focus::-ms-fill-upper 
  background: #a0a0a0




.popupImageConvertor
	display: none
	position: fixed
	width: 100vw
	height: 100vh
	// max-height: 100vh
	top: 0
	left: 0
	justify-content: center
	align-items: center
	padding: auto
	background: rgba(0,0,0,0.7)
	z-index: 10
	.popup-container
		position: relative
		overflow: hidden
		background: #fff
		min-width: 80%
		min-height: 600px
		padding: 20px 70px 70px 70px
		display: flex
		max-height: 100vh
		
		flex-direction: column
		align-items: center
		h3.resize-title
			width: 100%
			text-align: center
			font-size: 20px
			font-weight: bold
			margin: 0
			color: #6b678a
			margin-bottom: 20px

		.cr-boundary
			max-height: 60vh
			max-width: 80vw
		.resizer
			position: relative
			border: 2px solid #7F7F7F
			min-height: 500px
			width: 100%
			// padding-top: 10px
			background: #DDDDDD
			display: flex
			justify-content: center
			align-items: center
			.addition
				position: absolute
				top: 50%
				left: 50%
				margin-left: -20px
				margin-top: -10px
				color: #7F7F7F
				font-size: 16px


		.resizer-result
			position: absolute
			bottom: 20px
			left: 50%
			transform: translateX(-50%)

	.closePopup
		position: absolute
		top: 0
		right: 0
		font-weight: bold
		font-size: 22px
		background: #fff
		color: #000
		outline: none
		border: none
		line-height: 1
		opacity: 0.8
