<template>
    <div class="btn-group">
        <button type="button" class="btn btn-warning btn-flat dropdown-toggle" data-toggle="dropdown">Експорт даних
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li id="copyButton"><a href="#"><i class="fa fa-clone"></i> Зкопіювати</a></li>
            <li id="excelButton"><a href="#"><i class="fa fa-file-excel-o"></i> Excel</a></li>
            <li id="printButton"><a href="#"><i class="fa fa-print"></i> Роздрукувати</a></li>
        </ul>
    </div>
</template>
<script>
export default {
  props: [],

  data() {
    return {};
  }
};
</script>
